header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    text-decoration: none;
    direction: none;
}
.logo{
    font-size: 20px;
    font-style: 15px;
    padding-left: 10px;
}
.navigation {
    position: relative;
    text-decoration: none; 
} 
.navigation a{
    margin-left: 40px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    border-width: 20px;
}
.navigation a:hover{
   background-color: black;
   color: white;
}
.buttons{
    padding-right: 10px;
    
}
.signup:hover{
   background-color: black;
   color: white;
}
.login:hover{
    background-color: black;
    color: white;
}
.login{
    border-radius: 10px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bolder;
    
}
.signup{
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    
}
